#about-me {
    padding: 2rem;
    height: calc(100% - 125px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#about-me::after {
    content: "";
    height: 125px;
    position: fixed;
    inset: auto 0 0;
    bottom: 0;
    transform: translateY(0);
    background-color: var(--primary);
    transition: all 0.3s ease-in-out;

}
.hide #about-me::after {
    transform: translateY(125px)
}

#greetings-bottom-shadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}


#about-me * {
    margin: 2px 0;
}

#about-me dl, #about-me hr {
    margin: 10px 0;
}

#about-me dt {
    font-weight: bold;
}

#about-me dd, #about-me li {
    margin-left: 2rem
}
