#about-me {
    padding: clamp(1rem, 5vw, 3rem);
    height: calc(100% - 125px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* #about-me::after {
    content: "";
    height: 125px;
    position: fixed;
    inset: auto 0 0;
    bottom: 0;
    transform: translateY(0);
    background-color: var(--primary);
    transition: all 0.3s ease-in-out;
}

.hide #about-me::after {
    transform: translateY(125px)
} */

#greetings-bottom-shadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}


#about-me * {
    margin: 5px 0;
}

#about-me dl, #about-me hr {
    margin: 10px 0;
}

#about-me dt {
    font-weight: bold;
}

#about-me dd, #about-me li {
    margin-left: 2rem
}

#contact li {
    align-items: center;
}

#contact li svg {
    height: 30px;
    width: 30px;
    transition: transform .5s ease;
    transform: translateY(11px)
}

#contact li:has(a:hover) svg, #contact li:has(a:focus) svg {
    transform: translateY(4px);
}