#ending {
    
    gap: 5px;

    width: 100%;
    min-height: 100px;
    
    background: var(--secondary);
    

    padding-bottom: 20px;

}


#ending *{
    text-align: center;
}

#ending p, #ending h3{
    font-size: 24px;
}

#ending h3 {
    padding: 10px;
}
