#progress-container {
    position: fixed;
    bottom: 3rem;
    width: 100vw;
    
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

#progress-inner-container {
    padding: 0 1.5rem;
    position: relative;
    
    display: grid;
    place-items: center;
}

#progress {
    width: 100%;
    color: red;
    appearance: none;
    background: transparent;
    
}


#progress-line {
    position: relative;
    top: -11px;
    width: calc(100% - 18px);
    z-index: -1;
}


#progress-container datalist {
    display: flex;
    justify-content: space-between;
    /* writing-mode: vertical-lr; */
    width: 100%;
}
  
#progress-container option {
    padding: 0;
    display: inline;
    cursor: pointer;
}